In [1]:
import pandas as pd

In [2]:
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [3]:
df = pd.read_csv('Churn_Modelling.csv')

In [4]:
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [5]:
df.isnull().sum()

RowNumber          0
CustomerId         0
Surname            0
CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
Exited             0
dtype: int64

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  object
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  object
 5   Gender           10000 non-null  object
 6   Age              10000 non-null  int64
 7   Tenure           10000 non-null  int64
 8   Balance          10000 non-null  float64
 9   NumOfProducts    10000 non-null  int64
 10  HasCrCard        10000 non-null  int64
 11  IsActiveMember   10000 non-null  int64
 12  EstimatedSalary  10000 non-null  float64
 13  Exited           10000 non-null  int64
dtypes: float64(2), int64(9), object(3)
memory usage: 1.1+ MB

In [7]:
df.columns

Index(['RowNumber', 'CustomerId', 'Surname', 'CreditScore', 'Geography',
       'Gender', 'Age', 'Tenure', 'Balance', 'NumOfProducts', 'HasCrCard',
       'IsActiveMember', 'EstimatedSalary', 'Exited'],
      dtype='object')

In [8]:
X = df.iloc[:,3:13]
y = df.Exited

In [9]:
X.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,619,France,Female,42,2,0.00,1,1,1,101348.88
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58
2,502,France,Female,42,8,159660.80,3,1,0,113931.57
3,699,France,Female,39,1,0.00,2,0,0,93826.63
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10

In [10]:
geo = pd.get_dummies(X["Geography"],drop_first=True)
gender = pd.get_dummies(X["Gender"],drop_first=True)

In [11]:
X = pd.concat([X,geo,gender],axis = 1)

In [12]:
X.drop(['Gender','Geography'],axis =1 ,inplace=True)

In [13]:
X.shape

(10000, 11)

In [14]:
X.head()

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Germany,Spain,Male
0,619,42,2,0.00,1,1,1,101348.88,0,0,0
1,608,41,1,83807.86,1,0,1,112542.58,0,1,0
2,502,42,8,159660.80,3,1,0,113931.57,0,0,0
3,699,39,1,0.00,2,0,0,93826.63,0,0,0
4,850,43,2,125510.82,1,1,1,79084.10,0,1,0

In [15]:
from sklearn.model_selection import train_test_split

In [16]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=0)

In [17]:
from sklearn.preprocessing import StandardScaler

In [18]:
sc = StandardScaler()

In [19]:
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

## importing keras libs and packages

In [20]:
import keras

Using TensorFlow backend.
C:\Users\Aditya\Anaconda3\lib\site-packages\tensorflow\python\framework\dtypes.py:516: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
C:\Users\Aditya\Anaconda3\lib\site-packages\tensorflow\python\framework\dtypes.py:517: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
C:\Users\Aditya\Anaconda3\lib\site-packages\tensorflow\python\framework\dtypes.py:518: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
C:\Users\Aditya\Anaconda3\lib\site-packages\tensorflow\python\framework\dtypes.py:519: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
C:\Users\Aditya\Anaconda3\lib\site-packages\tensorflow\python\framework\dtypes.py:520: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
C:\Users\Aditya\Anaconda3\lib\site-packages\tensorflow\python\framework\dtypes.py:525: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])
C:\Users\Aditya\Anaconda3\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:541: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
C:\Users\Aditya\Anaconda3\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:542: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
C:\Users\Aditya\Anaconda3\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:543: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
C:\Users\Aditya\Anaconda3\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:544: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
C:\Users\Aditya\Anaconda3\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:545: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
C:\Users\Aditya\Anaconda3\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:550: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])

In [21]:
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import LeakyReLU
from keras.layers import Dropout

In [22]:
classifier = Sequential()

In [23]:
classifier.add(Dense(units=6,kernel_initializer='he_uniform',activation='relu',input_dim=11))
classifier.add(Dense(units=6,kernel_initializer='he_uniform',activation='relu'))
classifier.add(Dense(units=1,kernel_initializer='glorot_uniform',activation='sigmoid'))

In [24]:
classifier.compile(optimizer='adam',loss = 'binary_crossentropy',metrics=['accuracy'])

WARNING:tensorflow:From C:\Users\Aditya\Anaconda3\lib\site-packages\tensorflow\python\ops\nn_impl.py:180: add_dispatch_support.<locals>.wrapper (from tensorflow.python.ops.array_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.where in 2.0, which has the same broadcast rule as np.where

In [25]:
classifier.summary()

Model: "sequential_1"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_1 (Dense)              (None, 6)                 72
_________________________________________________________________
dense_2 (Dense)              (None, 6)                 42
_________________________________________________________________
dense_3 (Dense)              (None, 1)                 7
=================================================================
Total params: 121
Trainable params: 121
Non-trainable params: 0
_________________________________________________________________

In [26]:
model_history = classifier.fit(X_train,y_train,validation_split=0.33,batch_size=10,nb_epoch=100)

C:\Users\Aditya\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: UserWarning: The `nb_epoch` argument in `fit` has been renamed `epochs`.
  """Entry point for launching an IPython kernel.

WARNING:tensorflow:From C:\Users\Aditya\Anaconda3\lib\site-packages\keras\backend\tensorflow_backend.py:422: The name tf.global_variables is deprecated. Please use tf.compat.v1.global_variables instead.

Train on 5359 samples, validate on 2641 samples
Epoch 1/100
5359/5359 [==============================] - 3s 595us/step - loss: 0.5279 - accuracy: 0.7639 - val_loss: 0.4850 - val_accuracy: 0.7959
Epoch 2/100
5359/5359 [==============================] - 2s 372us/step - loss: 0.4541 - accuracy: 0.8065 - val_loss: 0.4532 - val_accuracy: 0.8065
Epoch 3/100
5359/5359 [==============================] - 2s 288us/step - loss: 0.4336 - accuracy: 0.8181 - val_loss: 0.4412 - val_accuracy: 0.8092
Epoch 4/100
5359/5359 [==============================] - 1s 252us/step - loss: 0.4237 - accuracy: 0.8250 - val_loss: 0.4339 - val_accuracy: 0.8111
Epoch 5/100
5359/5359 [==============================] - 1s 264us/step - loss: 0.4170 - accuracy: 0.8276 - val_loss: 0.4286 - val_accuracy: 0.8111
Epoch 6/100
5359/5359 [==============================] - 2s 302us/step - loss: 0.4123 - accuracy: 0.8321 - val_loss: 0.4248 - val_accuracy: 0.8152
Epoch 7/100
5359/5359 [==============================] - 1s 266us/step - loss: 0.4093 - accuracy: 0.8326 - val_loss: 0.4225 - val_accuracy: 0.8175
Epoch 8/100
5359/5359 [==============================] - 1s 261us/step - loss: 0.4073 - accuracy: 0.8354 - val_loss: 0.4208 - val_accuracy: 0.8201
Epoch 9/100
5359/5359 [==============================] - 1s 279us/step - loss: 0.4053 - accuracy: 0.8352 - val_loss: 0.4195 - val_accuracy: 0.8194
Epoch 10/100
5359/5359 [==============================] - 1s 258us/step - loss: 0.4039 - accuracy: 0.8362 - val_loss: 0.4184 - val_accuracy: 0.8198
Epoch 11/100
5359/5359 [==============================] - 2s 282us/step - loss: 0.4026 - accuracy: 0.8360 - val_loss: 0.4176 - val_accuracy: 0.8228
Epoch 12/100
5359/5359 [==============================] - 1s 235us/step - loss: 0.4012 - accuracy: 0.8364 - val_loss: 0.4166 - val_accuracy: 0.8239
Epoch 13/100
5359/5359 [==============================] - 1s 216us/step - loss: 0.3993 - accuracy: 0.8377 - val_loss: 0.4163 - val_accuracy: 0.8224
Epoch 14/100
5359/5359 [==============================] - 1s 226us/step - loss: 0.3969 - accuracy: 0.8397 - val_loss: 0.4133 - val_accuracy: 0.8239
Epoch 15/100
5359/5359 [==============================] - 1s 218us/step - loss: 0.3946 - accuracy: 0.8405 - val_loss: 0.4113 - val_accuracy: 0.8251
Epoch 16/100
5359/5359 [==============================] - 1s 245us/step - loss: 0.3916 - accuracy: 0.8416 - val_loss: 0.4086 - val_accuracy: 0.8266
Epoch 17/100
5359/5359 [==============================] - 1s 245us/step - loss: 0.3881 - accuracy: 0.8433 - val_loss: 0.4052 - val_accuracy: 0.8292
Epoch 18/100
5359/5359 [==============================] - 1s 227us/step - loss: 0.3846 - accuracy: 0.8447 - val_loss: 0.4018 - val_accuracy: 0.8307
Epoch 19/100
5359/5359 [==============================] - 1s 245us/step - loss: 0.3809 - accuracy: 0.8462 - val_loss: 0.4015 - val_accuracy: 0.8277
Epoch 20/100
5359/5359 [==============================] - 1s 260us/step - loss: 0.3770 - accuracy: 0.8483 - val_loss: 0.3971 - val_accuracy: 0.8326
Epoch 21/100
5359/5359 [==============================] - 1s 263us/step - loss: 0.3741 - accuracy: 0.8502 - val_loss: 0.3938 - val_accuracy: 0.8342
Epoch 22/100
5359/5359 [==============================] - 1s 255us/step - loss: 0.3703 - accuracy: 0.8492 - val_loss: 0.3897 - val_accuracy: 0.8357
Epoch 23/100
5359/5359 [==============================] - 1s 256us/step - loss: 0.3659 - accuracy: 0.8500 - val_loss: 0.3851 - val_accuracy: 0.8395
Epoch 24/100
5359/5359 [==============================] - 1s 248us/step - loss: 0.3624 - accuracy: 0.8518 - val_loss: 0.3831 - val_accuracy: 0.8395
Epoch 25/100
5359/5359 [==============================] - 1s 263us/step - loss: 0.3593 - accuracy: 0.8541 - val_loss: 0.3790 - val_accuracy: 0.8410
Epoch 26/100
5359/5359 [==============================] - 1s 226us/step - loss: 0.3554 - accuracy: 0.8520 - val_loss: 0.3765 - val_accuracy: 0.8429
Epoch 27/100
5359/5359 [==============================] - 1s 229us/step - loss: 0.3523 - accuracy: 0.8543 - val_loss: 0.3730 - val_accuracy: 0.8429
Epoch 28/100
5359/5359 [==============================] - 1s 209us/step - loss: 0.3491 - accuracy: 0.8545 - val_loss: 0.3705 - val_accuracy: 0.8432
Epoch 29/100
5359/5359 [==============================] - 1s 241us/step - loss: 0.3466 - accuracy: 0.8541 - val_loss: 0.3703 - val_accuracy: 0.8440
Epoch 30/100
5359/5359 [==============================] - 1s 222us/step - loss: 0.3449 - accuracy: 0.8548 - val_loss: 0.3681 - val_accuracy: 0.8432
Epoch 31/100
5359/5359 [==============================] - 1s 222us/step - loss: 0.3421 - accuracy: 0.8552 - val_loss: 0.3686 - val_accuracy: 0.8451
Epoch 32/100
5359/5359 [==============================] - 1s 231us/step - loss: 0.3414 - accuracy: 0.8556 - val_loss: 0.3653 - val_accuracy: 0.8478
Epoch 33/100
5359/5359 [==============================] - 1s 261us/step - loss: 0.3405 - accuracy: 0.8561 - val_loss: 0.3647 - val_accuracy: 0.8474
Epoch 34/100
5359/5359 [==============================] - 1s 218us/step - loss: 0.3393 - accuracy: 0.8558 - val_loss: 0.3647 - val_accuracy: 0.8482
Epoch 35/100
5359/5359 [==============================] - 1s 224us/step - loss: 0.3389 - accuracy: 0.8591 - val_loss: 0.3647 - val_accuracy: 0.8504
Epoch 36/100
5359/5359 [==============================] - 1s 221us/step - loss: 0.3378 - accuracy: 0.8606 - val_loss: 0.3623 - val_accuracy: 0.8531
Epoch 37/100
5359/5359 [==============================] - 1s 213us/step - loss: 0.3369 - accuracy: 0.8606 - val_loss: 0.3638 - val_accuracy: 0.8527
Epoch 38/100
5359/5359 [==============================] - 1s 217us/step - loss: 0.3365 - accuracy: 0.8604 - val_loss: 0.3622 - val_accuracy: 0.8535
Epoch 39/100
5359/5359 [==============================] - 1s 215us/step - loss: 0.3364 - accuracy: 0.8597 - val_loss: 0.3608 - val_accuracy: 0.8535
Epoch 40/100
5359/5359 [==============================] - 1s 204us/step - loss: 0.3356 - accuracy: 0.8604 - val_loss: 0.3607 - val_accuracy: 0.8554
Epoch 41/100
5359/5359 [==============================] - 1s 211us/step - loss: 0.3355 - accuracy: 0.8604 - val_loss: 0.3612 - val_accuracy: 0.8523
Epoch 42/100
5359/5359 [==============================] - 1s 218us/step - loss: 0.3346 - accuracy: 0.8612 - val_loss: 0.3610 - val_accuracy: 0.8561
Epoch 43/100
5359/5359 [==============================] - 1s 213us/step - loss: 0.3349 - accuracy: 0.8600 - val_loss: 0.3609 - val_accuracy: 0.8576
Epoch 44/100
5359/5359 [==============================] - 1s 212us/step - loss: 0.3344 - accuracy: 0.8597 - val_loss: 0.3617 - val_accuracy: 0.8565
Epoch 45/100
5359/5359 [==============================] - 1s 232us/step - loss: 0.3342 - accuracy: 0.8608 - val_loss: 0.3613 - val_accuracy: 0.8557
Epoch 46/100
5359/5359 [==============================] - 1s 242us/step - loss: 0.3340 - accuracy: 0.8599 - val_loss: 0.3603 - val_accuracy: 0.8542
Epoch 47/100
5359/5359 [==============================] - 2s 311us/step - loss: 0.3339 - accuracy: 0.8623 - val_loss: 0.3590 - val_accuracy: 0.8591
Epoch 48/100
5359/5359 [==============================] - 1s 276us/step - loss: 0.3335 - accuracy: 0.8623 - val_loss: 0.3611 - val_accuracy: 0.8569
Epoch 49/100
5359/5359 [==============================] - 2s 283us/step - loss: 0.3335 - accuracy: 0.8625 - val_loss: 0.3588 - val_accuracy: 0.8580
Epoch 50/100
5359/5359 [==============================] - 1s 251us/step - loss: 0.3326 - accuracy: 0.8614 - val_loss: 0.3624 - val_accuracy: 0.8550
Epoch 51/100
5359/5359 [==============================] - 1s 263us/step - loss: 0.3330 - accuracy: 0.8621 - val_loss: 0.3589 - val_accuracy: 0.8584
Epoch 52/100
5359/5359 [==============================] - 1s 254us/step - loss: 0.3325 - accuracy: 0.8621 - val_loss: 0.3600 - val_accuracy: 0.8584
Epoch 53/100
5359/5359 [==============================] - 1s 276us/step - loss: 0.3330 - accuracy: 0.8612 - val_loss: 0.3586 - val_accuracy: 0.8576
Epoch 54/100
5359/5359 [==============================] - 1s 263us/step - loss: 0.3321 - accuracy: 0.8627 - val_loss: 0.3582 - val_accuracy: 0.8584

Epoch 55/100
5359/5359 [==============================] - 2s 281us/step - loss: 0.3313 - accuracy: 0.8628 - val_loss: 0.3595 - val_accuracy: 0.8618
Epoch 56/100
5359/5359 [==============================] - 1s 268us/step - loss: 0.3325 - accuracy: 0.8614 - val_loss: 0.3612 - val_accuracy: 0.8588
Epoch 57/100
5359/5359 [==============================] - 2s 283us/step - loss: 0.3321 - accuracy: 0.8619 - val_loss: 0.3605 - val_accuracy: 0.8588
Epoch 58/100
5359/5359 [==============================] - 1s 279us/step - loss: 0.3314 - accuracy: 0.8614 - val_loss: 0.3600 - val_accuracy: 0.8584
Epoch 59/100
5359/5359 [==============================] - 1s 228us/step - loss: 0.3317 - accuracy: 0.8615 - val_loss: 0.3575 - val_accuracy: 0.8580
Epoch 60/100
5359/5359 [==============================] - 1s 247us/step - loss: 0.3304 - accuracy: 0.8627 - val_loss: 0.3588 - val_accuracy: 0.8610
Epoch 61/100
5359/5359 [==============================] - 1s 218us/step - loss: 0.3315 - accuracy: 0.8621 - val_loss: 0.3583 - val_accuracy: 0.8580
Epoch 62/100
5359/5359 [==============================] - 1s 236us/step - loss: 0.3304 - accuracy: 0.8625 - val_loss: 0.3581 - val_accuracy: 0.8595
Epoch 63/100
5359/5359 [==============================] - 1s 221us/step - loss: 0.3317 - accuracy: 0.8619 - val_loss: 0.3574 - val_accuracy: 0.8569
Epoch 64/100
5359/5359 [==============================] - 1s 228us/step - loss: 0.3310 - accuracy: 0.8634 - val_loss: 0.3574 - val_accuracy: 0.8591
Epoch 65/100
5359/5359 [==============================] - 1s 226us/step - loss: 0.3306 - accuracy: 0.8638 - val_loss: 0.3594 - val_accuracy: 0.8573
Epoch 66/100
5359/5359 [==============================] - 1s 234us/step - loss: 0.3300 - accuracy: 0.8643 - val_loss: 0.3599 - val_accuracy: 0.8565
Epoch 67/100
5359/5359 [==============================] - 1s 236us/step - loss: 0.3301 - accuracy: 0.8632 - val_loss: 0.3590 - val_accuracy: 0.8576
Epoch 68/100
5359/5359 [==============================] - 1s 246us/step - loss: 0.3298 - accuracy: 0.8643 - val_loss: 0.3576 - val_accuracy: 0.8557
Epoch 69/100
5359/5359 [==============================] - 1s 213us/step - loss: 0.3298 - accuracy: 0.8623 - val_loss: 0.3578 - val_accuracy: 0.8561
Epoch 70/100
5359/5359 [==============================] - 1s 216us/step - loss: 0.3291 - accuracy: 0.8638 - val_loss: 0.3578 - val_accuracy: 0.8591
Epoch 71/100
5359/5359 [==============================] - 1s 216us/step - loss: 0.3302 - accuracy: 0.8612 - val_loss: 0.3565 - val_accuracy: 0.8591
Epoch 72/100
5359/5359 [==============================] - 1s 230us/step - loss: 0.3294 - accuracy: 0.8628 - val_loss: 0.3579 - val_accuracy: 0.8576
Epoch 73/100
5359/5359 [==============================] - 2s 338us/step - loss: 0.3295 - accuracy: 0.8625 - val_loss: 0.3569 - val_accuracy: 0.8580
Epoch 74/100
5359/5359 [==============================] - 1s 239us/step - loss: 0.3298 - accuracy: 0.8630 - val_loss: 0.3582 - val_accuracy: 0.8573
Epoch 75/100
5359/5359 [==============================] - 1s 211us/step - loss: 0.3292 - accuracy: 0.8621 - val_loss: 0.3577 - val_accuracy: 0.8569
Epoch 76/100
5359/5359 [==============================] - 1s 222us/step - loss: 0.3296 - accuracy: 0.8625 - val_loss: 0.3575 - val_accuracy: 0.8584
Epoch 77/100
5359/5359 [==============================] - 1s 215us/step - loss: 0.3290 - accuracy: 0.8640 - val_loss: 0.3604 - val_accuracy: 0.8554
Epoch 78/100
5359/5359 [==============================] - 1s 209us/step - loss: 0.3291 - accuracy: 0.8636 - val_loss: 0.3588 - val_accuracy: 0.8573
Epoch 79/100
5359/5359 [==============================] - 1s 210us/step - loss: 0.3290 - accuracy: 0.8615 - val_loss: 0.3573 - val_accuracy: 0.8580
Epoch 80/100
5359/5359 [==============================] - 1s 214us/step - loss: 0.3286 - accuracy: 0.8619 - val_loss: 0.3590 - val_accuracy: 0.8573
Epoch 81/100
5359/5359 [==============================] - 1s 211us/step - loss: 0.3291 - accuracy: 0.8621 - val_loss: 0.3595 - val_accuracy: 0.8569
Epoch 82/100
5359/5359 [==============================] - 1s 216us/step - loss: 0.3283 - accuracy: 0.8608 - val_loss: 0.3605 - val_accuracy: 0.8565
Epoch 83/100
5359/5359 [==============================] - 1s 215us/step - loss: 0.3296 - accuracy: 0.8604 - val_loss: 0.3577 - val_accuracy: 0.8576
Epoch 84/100
5359/5359 [==============================] - 1s 207us/step - loss: 0.3284 - accuracy: 0.8632 - val_loss: 0.3598 - val_accuracy: 0.8557
Epoch 85/100
5359/5359 [==============================] - 1s 212us/step - loss: 0.3286 - accuracy: 0.8632 - val_loss: 0.3572 - val_accuracy: 0.8557
Epoch 86/100
5359/5359 [==============================] - 1s 214us/step - loss: 0.3281 - accuracy: 0.8619 - val_loss: 0.3600 - val_accuracy: 0.8554
Epoch 87/100
5359/5359 [==============================] - 1s 211us/step - loss: 0.3287 - accuracy: 0.8651 - val_loss: 0.3583 - val_accuracy: 0.8576
Epoch 88/100
5359/5359 [==============================] - 1s 207us/step - loss: 0.3286 - accuracy: 0.8625 - val_loss: 0.3575 - val_accuracy: 0.8569
Epoch 89/100
5359/5359 [==============================] - 1s 211us/step - loss: 0.3281 - accuracy: 0.8638 - val_loss: 0.3604 - val_accuracy: 0.8557
Epoch 90/100
5359/5359 [==============================] - 1s 209us/step - loss: 0.3286 - accuracy: 0.8619 - val_loss: 0.3573 - val_accuracy: 0.8565
Epoch 91/100
5359/5359 [==============================] - 1s 205us/step - loss: 0.3284 - accuracy: 0.8643 - val_loss: 0.3584 - val_accuracy: 0.8599
Epoch 92/100
5359/5359 [==============================] - 1s 214us/step - loss: 0.3278 - accuracy: 0.8638 - val_loss: 0.3603 - val_accuracy: 0.8576
Epoch 93/100
5359/5359 [==============================] - 1s 212us/step - loss: 0.3281 - accuracy: 0.8630 - val_loss: 0.3589 - val_accuracy: 0.8561
Epoch 94/100
5359/5359 [==============================] - 1s 213us/step - loss: 0.3275 - accuracy: 0.8619 - val_loss: 0.3595 - val_accuracy: 0.8557
Epoch 95/100
5359/5359 [==============================] - 1s 209us/step - loss: 0.3272 - accuracy: 0.8630 - val_loss: 0.3604 - val_accuracy: 0.8573
Epoch 96/100
5359/5359 [==============================] - 1s 211us/step - loss: 0.3280 - accuracy: 0.8656 - val_loss: 0.3615 - val_accuracy: 0.8569
Epoch 97/100
5359/5359 [==============================] - 1s 209us/step - loss: 0.3274 - accuracy: 0.8634 - val_loss: 0.3585 - val_accuracy: 0.8576
Epoch 98/100
5359/5359 [==============================] - 1s 217us/step - loss: 0.3278 - accuracy: 0.8628 - val_loss: 0.3575 - val_accuracy: 0.8588
Epoch 99/100
5359/5359 [==============================] - 1s 211us/step - loss: 0.3279 - accuracy: 0.8634 - val_loss: 0.3630 - val_accuracy: 0.8565
Epoch 100/100
5359/5359 [==============================] - 1s 204us/step - loss: 0.3277 - accuracy: 0.8655 - val_loss: 0.3577 - val_accuracy: 0.8584

In [28]:
y_pred = classifier.predict(X_test)

In [29]:
y_pred = (y_pred>0.5)

In [30]:
from sklearn.metrics import confusion_matrix

In [32]:
cm = confusion_matrix(y_test,y_pred)
print(cm)

[[1493  102]
 [ 188  217]]

In [33]:
from sklearn.metrics import accuracy_score

In [34]:
score = accuracy_score(y_test,y_pred)

In [35]:
print(score)

0.855